.terrain {
    position: relative;
    text-align: center;
}

.terrain div{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p0 {
    position: absolute;
    left: 100px;
    top: 500px;
}

.p1{
    position: absolute;
    left: 182px;
    top: 500px;
}

.p2{
    position: absolute;
    left: 264px;
    top: 500px;
}

.p3{
    position: absolute;
    left: 305px;
    top: 430px;
}


.p4{
    position: absolute;
    left: 346px;
    top: 360px;
}

.p5{
    position: absolute;
    left: 305px;
    top: 288px;
}

.p6{
    position: absolute;
    left: 264px;
    top: 216px;
}

.p7{
    position: absolute;
    left: 182px;
    top: 216px;
}

.p8{
    position: absolute;
    left: 100px;
    top: 216px;
}

.p9{
    position: absolute;
    left: 59px;
    top: 288px;
}

.p10{
    position: absolute;
    left: 18px;
    top: 360px;
}

.p11{
    position: absolute;
    left: 59px;
    top: 430px;
}

.p12{
    position: absolute;
    left: 141px;
    top: 430px;
}

.p13{
    position: absolute;
    left: 223px;
    top: 430px;
}

.p14{
    position: absolute;
    left: 264px;
    top: 360px;
}

.p15{
    position: absolute;
    left: 223px;
    top: 288px;
}

.p16{
    position: absolute;
    left: 141px;
    top: 288px;
}

.p17{
    position: absolute;
    left: 100px;
    top: 360px;
}

.p18{
    position: absolute;
    left: 182px;
    top: 360px;
}
